body {
  text-align: center;
  margin-top: 230px;
  background-image: url("http://7-themes.com/data_images/out/58/6969190-blue-sky-clouds-16511.jpg");
  font-family: Verdana, Arial, sans-serif;
}

h1 {
  color: #08088A;
  font-size: 40px;
}

#degrees {
  font-size: 50px;
  padding: 10px;
}

#up {
  width: 50px;
  height: 100px;

}
